{% extends "layout.html" %}
{% block content %}
	<article class="media content-section">
	  <div class="media-body">
	    <main role="main" class="container">
		  <div class="row">
		  	 <h2>Select The business Models</h2>
		    <div class="col-md-6">
		      <div class="content-section">
		          <ul class="list-group">
		            <li class="list-group-item list-group-item-light">News Articles</li>
		            <button onclick="location.href='/input'" class="btn btn-outline-info">Select</button>
		          </ul>
		      </div>
		    </div>
		    <div class="col-md-6">
		      <div class="content-section">
		          <ul class="list-group">
		          	<li class="list-group-item list-group-item-light">Food reviews</li>
		            <button onclick="location.href='/input'" class="btn btn-outline-info">Select</button>
		          </ul>
		      </div>
		    </div>
		  </div>
		</main>
	  </div>
	</article>
{% endblock%}