{% extends "layout_summary.html" %}
{% block content %}
	{%for summary in summaries%}
	<article class="media content-section">
	  <div class="media-body">
	    <p class="article-content">
			{{summary.content}}
			<form action="/emotion" method='POST'>
				<input type="text" name="temp" value="`{{summary.content}}`" hidden />
				<!-- <button type="submit">submit</button> -->
				<button class="btn btn-outline-info" type="submit">submit</button>
			</form>
		</p>
	  </div>
	</article>
	{% endfor %}
{% endblock%}